<section class="container-fluid p-md-4">

	<section class="mt-2 mt-md-0">
		<div class="d-flex">

			<div id="ImgAuthor" class="flex-grow-1">
				<h5 class="filterBox d-inline-flex p-2">Image by: author</h5>
			</div>

			<div id="weather" class="text-center filterBox p-3">
				<h4>26&deg; C</h4>
				<h4>Sunny</h4>
				<h4><i class="mdi mdi-weather-sunny"></i></h4>
			</div>

		</div>
	</section>


	<section class=" my-3 my-md-5 py-4">
		<div id="clock" class="text-center py-5 py-md-4 my-md-5">
			<h1 class="fontSize filterBox d-inline-flex p-3">09:28am</h1>
		</div>
	</section>


	<section class="d-flex align-items-md-end justify-content-between flex-wrap flex-md-nowrap">

		<div id="quote" class="filterBox p-3 me-md-3 text-center">
			<h5>"You can't shake hands with a clenched fist."</h5>
		</div>

		<div id="todoList" class="filterBox p-3 my-3 my-md-0 width">
			<h4 class="text-center">Todo List: 4 tasks</h4>
			<hr>

			<ul role="listbox" tabindex="0" class="align-items-center p-0 justify-content-between">

				<li class="row align-items-center">
					<div class="col-10">Create the clock</div>
					<i class="li col-2 mdi mdi-trash-can"></i>
				</li>

				<li class="row align-items-center">
					<div class="col-10">Flip the weather</div>
					<i class="li col-2 mdi mdi-trash-can"></i>
				</li>

				<li class="row align-items-center">
					<div class="col-10">Hover Quote</div>
					<i class="li col-2 mdi mdi-trash-can"></i>
				</li>

				<li class="row align-items-center">
					<div class="col-10">Get Graded</div>
					<i class="li col-2 mdi mdi-trash-can"></i>
				</li>

			</ul>

			<form class="row example p-2 text-center mx-auto" onsubmit="">
				<input type="text" placeholder="Add todo" name="add">
				<button type="submit"><i class="fa fa-plus"></i></button>
			</form>
		</div>

	</section>

</section>