<section class="p-2 p-md-4 d-flex flex-column gap-2 h-100 justify-content-between">

	<section class="d-flex justify-content-between">

		<div class="flex-fill me-5">
			<h5 id="imgAuthor" class="filterBox d-inline-flex p-2">Image by: author</h5>
		</div>

		<div id="weather" class="text-center filterBox p-3">
			<h4>26&deg; C</h4>
			<h4>Sunny</h4>
			<h4 class="fs-2 mb-0"><i class="mdi mdi-weather-sunny"></i></h4>
		</div>

	</section>


	<section class="text-center">
		<h1 id="clock" class="fontSize filterBox d-inline-flex p-2 p-md-3">LOADING TIME</h1>
	</section>


	<section class="d-flex align-items-md-end justify-content-between flex-wrap flex-md-nowrap gap-3">

		<div id="quoteParent" class="filterBox p-3 text-center width">
			<!-- TODO: CREATE FUNC FOR SHOWING AUTHOR ON HOVER (use transitions to look good) -->
			<p id="quoteAuthor" class="mb-3">author name</p>
			<h5 id="quote" title="test">"You can't shake hands with a clenched fist."</h5>
		</div>

		<div class="filterBox p-3 width">
			<h4 class="text-center">
				Todo List:&nbsp;
				<span id="todoCount" style="color: red;">4</span>&nbsp;
				left
			</h4>

			<hr>

			<ul id="todoList" class="align-items-center p-0 justify-content-between">
				<p>LOADING TODOS</p>
			</ul>

			<form class="row example p-2 text-center mx-auto" onsubmit="app.TodosController.createTodo(event)">
				<input type="text" placeholder="Add todo" name="description">
				<button type="submit"><i class="fa fa-plus"></i></button>
			</form>
		</div>

	</section>

</section>